body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg);
  color: white;
  background-size: 100%;
  /* Photo by Felix Mooneeram on Unsplash */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.header {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.votes_div {
  margin: 10px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.long_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.searchBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

input:focus {
  outline:none;
}

input, input[type="text"]{
  background-color:#000;
  color: white;
}

.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
}

.results {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.movie_result {
  margin: 1px;
  padding: 1px;
}

.red_button {
  border-color: maroon;
}

.red_button:hover {
  background-color: maroon;
  border-color: maroon;
}

.searchResults {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.displayedMovieInfo {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  width: 60%;
}